a,
button {
  &.btn {
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    @include boxShadow;
    transition: color 0.15s linear, background-color 0.15s linear,
      box-shadow 0.15s linear;
    margin: 8px 0;
    text-align: center;
    line-height: 1.25rem;
  }

  &.btn-primary {
    color: $primary !important;
    background-color: $secondary !important;

    @media screen and (min-width: 1399px) {
      &:hover {
        color: $secondary !important;
        background-color: $primary !important;
        @include boxShadowHover;
      }
    }
  }

  &.btn-secondary {
    color: $secondary;
    background-color: $primary;

    @media screen and (min-width: 1399px) {
      &:hover {
        color: $primary;
        background-color: $secondary;
        @include boxShadowHover;
      }
    }
  }

  &.btn-small {
    padding: 0.25rem 0.75rem;
  }

  &.btn-big {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }

  &.btn-wide {
    padding: 0.5rem 4rem;
  }

  &.btn-svg {
    transition: transform 0.1s linear;

    &:deep(svg) {
      margin: 0;
      padding: 0;
    }

    @media screen and (min-width: 1399px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
