@import "./_variables";
@import "./_fonts.scss";
@import "./_mixins";
@import "./_classes";
@import "./_buttons";

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: $white;
  font-family: "Poly", serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  margin: 0;
  @media screen and (min-width: 1439px) {
    padding-top: 0;
  }
}

.container {
  width: 100vw;
  max-width: $container-width;
  padding: 0 8px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a,
button.anchor {
  color: $primary;
  transition: color 0.15s linear;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: auto;
  font-size: 1rem;
  padding: 0;
  line-height: 1.75;
  text-align: left;
  @media screen and (min-width: 1399px) {
    &:hover {
      color: $secondary;
    }
  }
}

svg {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin: 0.25rem;
  padding: 0.25rem;
  color: $primary;
  transition: color 0.15s linear, transform 0.15s linear;
  &.svg-medium {
    width: 1.25rem;
    height: 1.25rem;
  }
  &.svg-big {
    width: 1.5rem;
    height: 1.5rem;
  }
}
