@mixin boxShadow {
  box-shadow: 2px 2px 4px 1px rgba($black, 0.4);
}
@mixin boxShadowHover {
  box-shadow: 2px 2px 4px 2px rgba($black, 0.5);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin centerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@mixin hoverSVG {
  @media screen and (min-width: 1439px) {
    &:hover {
      color: $secondary;
      transform: scale(1.25);
    }
  }
}
