// COLORS
$primary: #1f1d1d;
$secondary: #83db49;
$light-gray: #d9d9d9;
$gray: #999999;
$dark-gray: #595959;
$white: #ffffff;
$black: #0d0d0d;
$red: #e60000;
$green: #00b300;
$yellow: #ffe11e;
$blue: #0000fa;

$border-radius: 10px;

$button-padding: 0.75rem 1.5rem;
